*{margin: 0px;
padding: 0px;}

img{border-radius: 50%;
animation: myfan linear infinite; display: block;margin-top: 20px;}

@keyframes myfan{
    100%{
        transform: rotate(360deg);
    }
}

button{
    padding: 10PX;
    border-radius: 50PX;
    background-color: aqua; margin-top: 20px;
    margin: 5px;
  
  
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{display: flex;
justify-content: center;
align-items: center;}